<div class="game-stepper">
  <header>
    <h3 class="text-2xl" *ngIf="selected">
      <ng-container *ngIf="selected.stepLabel; else showLabelText" [ngTemplateOutlet]="selected.stepLabel.template">
      </ng-container>
      <ng-template #showLabelText>
        {{ selected.label }}
      </ng-template>
    </h3>
  </header>
  <section class="game-stepper__content">
    <div [ngTemplateOutlet]="selected ? selected.content : null"></div>
  </section>
   <footer class="game-stepper__navigation">
    <button *ngIf="steps.get(selectedIndex - 1)" class="game-stepper__navigation__button btn btn-primary"
      cdkStepperPrevious>
      &larr;
    </button>
    <span class="flex-1"></span>
    <button *ngIf="steps.get(selectedIndex + 1)" [disabled]="!selected!.completed"
      class="game-stepper__navigation__button btn btn-primary" cdkStepperNext>
      &rarr;
    </button>
  </footer>
</div>