<ng-container *ngIf="user$ | async as user">
  <div class="flex gap-4 items-center justify-center">
    <a routerLink="/" class="hover:text-slate-500">
      <span class="material-symbols-outlined"> arrow_back </span>
    </a>
    <article routerLink="/{{ user.uuid }}">
      <img src="{{ user.picture.thumbnail }}" />
      <h4>{{ user.name.first }} {{ user.name.last }}</h4>
    </article>
  </div>

  <section class="mt-6">
    <h4 class="text-center mb-3">Similar Users</h4>
    <ul>
      <li
        routerLink="/users/{{ simUser.uuid }}"
        *ngFor="let simUser of similarUsers$ | async">
        <img src="{{simUser.picture.thumbnail}}"/>
        <h4>{{simUser.name.first}} {{simUser.name.last}}</h4>
      </li>
    </ul>
  </section>
  
</ng-container>
