<ng-cb-ui-header appTitle="Component communication using Signals" appName="ng-cc-signals">
</ng-cb-ui-header>

<main class="content" role="main">
  <div class="mx-auto p-4">
    <div class="flex items-center justify-between mb-4">
      <h1 class="text-2xl">Task Manager</h1>
      <span>({{finishedTasksCount()}} / {{tasks().length}})</span>
    </div>

    <!-- Task Input -->
    <div class="mb-4">
      <input #titleInput (keydown.enter)="addTask(titleInput)" class="p-2 border rounded mr-2" placeholder="New task..." />
      <button (click)="addTask(titleInput)">Add</button>
    </div>

    <!-- Task List -->
    <ul>
      @for (task of filteredTasks(); track $index) {
        <li (click)="toggleTask(task)" class="mb-2 flex gap-4 items-center cursor-pointer hover:opacity-70">
          <input type="checkbox" [checked]="task.completed" />
          <span [ngClass]="{'line-through': task.completed}">{{ task.title }}</span>
        </li>
      }
    </ul>

    <!-- Filters -->
    <div class="mt-4">
      <button (click)="changeFilter(filters.All)" [ngClass]="{'!bg-purple-500 text-white': filter() === filters.All}" class="p-2 rounded mr-2">All</button>
      <button (click)="changeFilter(filters.Active)" [ngClass]="{'!bg-purple-500 text-white': filter() === filters.Active}" class="p-2 rounded mr-2">Active</button>
      <button (click)="changeFilter(filters.Completed)" [ngClass]="{'!bg-purple-500 text-white': filter() === filters.Completed}" class="p-2 rounded">Completed</button>
    </div>
  </div>

</main>
<app-snackbar>
  Congratulations! You completed all tasks.
</app-snackbar>
