<!-- Toolbar -->
<ng-cb-ui-header appTitle="Testing forms in Angular" appName="ng-testing-forms"
  ><div class="spacer"></div
></ng-cb-ui-header>

<main class="content" role="main">
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4">
    <section class="self-end">
      <h1 class="text-center text-xl">Template Driven Form</h1>
      <app-version-control-tdf></app-version-control-tdf>
    </section>
    <section class="self-end">
      <h1 class="text-center text-xl">Reactive Form</h1>
      <app-version-control-rf></app-version-control-rf>
    </section>
    <section class="self-end">
      <h1 class="text-center text-xl">
        Reactive Form with real-time (Async) Validation
      </h1>
      <app-version-control-rf-async></app-version-control-rf-async>
    </section>
  </div>
</main>
