@if(user) {
  <div class="user-detail">
    <div class="w-full relative h-20 text-center flex justify-start">
      <button [style.opacity]="user && similarUsers ? 1 : 0" class="absolute top-0 left-0 duration-200" routerLink="/">
        Back
      </button>
    </div>
    <div class="main-content user-card">
      <app-user-card [user]="user"></app-user-card>
    </div>

    <div class="secondary-container my-4">
      <h4 class="text-center text-xl">Similar Users</h4>
      <div class="similar-users grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
        @if (similarUsers) {
          @for(user of similarUsers; track user.uuid) {
            <app-user-card class="user-card" [user]="user"></app-user-card>
          }
        } @else {
          <app-loader></app-loader>
        }
      </div>
    </div>
  </div>
} @else {
  <app-loader></app-loader>
}
