<div class="relative flex mb-8">
  <label for="Search" class="sr-only"> Search </label>

  <input
    type="text"
    (input)="onSearchValChange($event)"
    id="Search"
    data-test-id="searchUsersInput"
    placeholder="Search for..."
    class="w-full rounded-md border-gray-200 py-2.5 pe-10 shadow-sm sm:text-sm"
  />

  <span class="absolute inset-y-0 end-0 right-0 grid w-10 place-content-center">
    <span type="button" class="unset text-gray-600 hover:text-gray-700">
      <span class="sr-only">Search</span>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-4 w-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
        />
      </svg>
    </span>
  </span>
</div>

<ng-container *ngIf="users().length > 0 && !callInProgress(); else loadingOrMessage">
  <app-users-list [users]="users()"></app-users-list>
</ng-container>

<ng-template #loadingOrMessage>
  <h2 *ngIf="callInProgress()" class="text-xl">Loading...</h2>
  <h2 data-test-id="noResultsFoundMessage" *ngIf="searchInput() !== ''" class="text-xl">Nothing returned for the following search</h2>
</ng-template>
