<div class="flex gap-4 items-center flex-col md:flex-row">
  <form [formGroup]="portfolioForm" class="flex-1 w-full md:w-auto max-w-[50%]">
    <h2 class="mb-6">Enter your information</h2>
    <section class="basic-info my-2 flex flex-col gap-4">
      <fieldset>
        <label for="name" class="text-sm">Name</label>
        <input id="name" formControlName="name" type="text" class="form-control" placeholder="Enter your name">
      </fieldset>
      <fieldset>
        <label for="bio" class="text-sm">Bio</label>
        <textarea id="bio" formControlName="bio" type="text" class="form-control" placeholder="Enter your bio" rows="3"></textarea>
      </fieldset>
    </section>
    <section formArrayName="projects">
      <label [formGroup]="portfolioForm" class="text-sm">Projects</label>
      <fieldset *ngFor="let projectControl of projectsFormArr.controls; let isLast = last; trackBy: trackByFn" [formGroup]="projectControl" class="flex gap-4 mb-4 justify-between">
        <input formControlName="label" type="text" class="form-control" placeholder="Enter label">
        <input formControlName="url" type="url" class="form-control" placeholder="Enter URL">
        <button type="button" [style.visibility]="isLast ? 'visible' : 'hidden'" [hidden]="!isLast" (click)="addNewProject()">+</button>
      </fieldset>
    </section>
  </form>

  <pre class="p-4 rounded-md bg-slate-900 text-green-300 break-words whitespace-pre-wrap text-ellipsis flex-1 w-full md:w-auto">Form value: {{output}}</pre>
</div>
