<div class="home">
  <section class="flex flex-col gap-4 w-full">
    <h2 class="text-center text-2xl">Users</h2>
    <form class="input-container flex gap-4 w-full items-center mb-4" [formGroup]="searchForm">
      <div class="relative flex-1">
        <input formControlName="username" type="text" placeholder="Quick Search..." class="pr-4 !pl-10 py-2">
        <svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-none text-slate-300 dark:text-slate-400 absolute top-0 left-2 bottom-0 m-auto" aria-hidden="true"><path d="m19 19-3.5-3.5"></path><circle cx="11" cy="11" r="6"></circle></svg>
      </div>
      <button (click)="updateName(users[0])">Update Irineu's Name</button>
    </form>
    <div class="secondary-container flex justify-center">
      <div class="users grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-4" *ngIf="users && !isLoading; else loader">
        <app-user-card class="h-full" [index]="index" *ngFor="let user of users; let index = index; trackBy: usersTrackBy" [user]="user"></app-user-card>
      </div>
    </div>
  </section>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
