<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Directive Composition API</span>
  <div class="spacer"></div>
  <a
    href="https://www.codewithahsan.dev/ng-book-reader?chapter=ng-directive-comp-api"
    target="_blank"
    rel="noopener noreferer"
  >
    <span class="material-symbols-outlined"> info </span>
  </a>
</div>

<main class="content" role="main">
  <!-- Your code here -->
  <ul class="flex flex-col">
    <li class="flex gap-4 items-center border-b justify-between border-slate-300 py-3">
      <h4 class="text-lg">Default Button:</h4>
      <button>Click Me</button>
    </li>
    <li class="flex gap-4 items-center border-b justify-between border-slate-300 py-3">
      <h4 class="text-lg">Filled Button:</h4>
      <button appButton color="yellow" fill="filled">Click Me</button>
    </li>
    <li class="flex gap-4 items-center border-b justify-between border-slate-300 py-3">
      <h4 class="text-lg">Outlined Button:</h4>
      <button appButton fill="outlined">Click Me</button>
    </li>
    <li class="flex gap-4 items-center border-b justify-between border-slate-300 py-3">
      <h4 class="text-lg">Button with Tooltip:</h4>
      <div class="flex flex-col gap-4">
        <button appTooltip="test" fill="outlined" appButton color="blue">
          Click Me
        </button>
        <button appTooltip="test" fill="filled" appButton color="blue">
          Click Me
        </button>
      </div>
    </li>
  </ul>
</main>
