<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>How to use *ngIf and *ngSwitch together</span>
  <div class="spacer"></div>
  <a
    href="https://www.codewithahsan.dev/ng-book-reader?chapter=ng-multi-struc-directives"
    target="_blank"
    rel="noopener noreferer"
  >
    <span class="material-symbols-outlined"> info </span>
  </a>
</div>

<main class="content" role="main">
<div class="add-section">
  <div class="input-group flex items-center gap-4 justify-between w-full">
    <select
      [(ngModel)]="selectedFruit"
      class="custom-select flex-1 cursor-pointer outline-none rounded-md border border-slate-900 px-2 py-1.5"
      id="inputGroupSelect04"
      aria-label="Example select with button addon"
    >
      <option selected value="">Choose...</option>
      <option *ngFor="let fruit of fruits" value="{{ fruit }}">
        {{ fruit }}
      </option>
    </select>
    <div class="input-group-append">
      <button
        [disabled]="!selectedFruit"
        class="btn btn-outline-secondary"
        type="button"
        (click)="addSelectedFruitToBucket()"
      >
        Add to Bucket
      </button>
    </div>
  </div>
</div>
<div class="page-section">
  <h2 class="text-2xl mt-4 flex items-center gap-2">
    <span>Bucket</span>
    <span class="text-lg material-symbols-outlined"> shopping_cart </span>
  </h2>
  <div class="fruits">
    <ng-container *ngIf="bucket.length > 0; else bucketEmptyMessage">
    <div class="fruits__item" *ngFor="let item of bucket">
      <div class="fruits__item__title">{{ item.name }}</div>
      <div class="fruites__item__delete-icon" (click)="deleteFromBucket(item)">
        <div class="material-symbols-outlined">delete</div>
      </div>
    </div>
    </ng-container>
    <ng-template #bucketEmptyMessage>
      <div class="fruits__no-items-msg">
        No items in bucket. Add some fruits!
      </div>
    </ng-template>
  </div>
</div>

</main>
