<!-- Toolbar -->
<ng-cb-ui-header
  appTitle="Angular Route Preloading Strategies"
  appName="ng-route-preload-strat"
  ><div class="spacer"></div>
  <div class="route-links">
    <div
      class="route-links__route-link"
      routerLink="/admin"
      routerLinkActive="route-links__route-link--active"
    >
      Admin
    </div>
    <div
      class="route-links__route-link"
      routerLink="/employee"
      routerLinkActive="route-links__route-link--active"
    >
      Employee
    </div>
  </div>
  <div class="logout-btn mx-4">
    <button
      type="button"
      class="btn-light"
      *ngIf="isLoggedIn"
      (click)="logout()"
    >
      Logout
    </button>
  </div></ng-cb-ui-header
>

<main class="content relative" role="main">
  <div
    *ngIf="isRouting; else app"
    class="loader-container absolute w-full h-full flex items-center justify-center"
  >
    <app-loader></app-loader>
  </div>
  <ng-template #app>
    <router-outlet></router-outlet>
  </ng-template>
</main>
