<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    class="toolbar__logo"
    routerLink="/"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span routerLink="/" class="toolbar__title"
    >Working with your first Angular Signals</span
  >
  <div class="spacer"></div>
  <a
    href="https://www.codewithahsan.dev/ng-book-reader?chapter=ng-signals-intro"
    target="_blank"
    rel="noopener noreferer"
  >
    <span class="material-symbols-outlined"> info </span>
  </a>
</div>

<main class="content" role="main">
  <div class="mx-auto p-4">
    <div class="flex items-center justify-between mb-4">
      <h1 class="text-2xl">Task Manager</h1>
      <span>(0 / 0)</span>
    </div>
  
    <!-- Task Input -->
    <div class="mb-4">
      <input class="p-2 border rounded mr-2" placeholder="New task..." />
      <button>Add</button>
    </div>
  
    <!-- Task List -->
    <ul>
      <li *ngFor="let task of tasks" class="mb-2 flex gap-4 items-center cursor-pointer hover:opacity-70">
        <input type="checkbox" [checked]="task.completed" />
        <span [ngClass]="{'line-through': task.completed}">{{ task.title }}</span>
      </li>
    </ul>
  
    <!-- Filters -->
    <div class="mt-4">
      <button class="p-2 rounded mr-2">All</button>
      <button class="p-2 rounded mr-2">Active</button>
      <button class="p-2 rounded">Completed</button>
    </div>
  </div>
  
</main>
