<ng-container *ngIf="user$ | async as user">
  <div class="flex gap-4 items-center justify-center">
    <a routerLink="/" class="hover:text-slate-500">
      <span class="material-symbols-outlined"> arrow_back </span>
    </a>
    <article>
      <img src="{{ user.picture.thumbnail }}" />
      <h4>{{ user.name.first }} {{ user.name.last }}</h4>
    </article>
  </div>

  <section class="mt-6" *ngIf="similarUsers$ | async as simUsers">
    <h4 class="text-center mb-3">Similar Users</h4>
    <app-users-list [users]="simUsers"></app-users-list>
  </section>
  
</ng-container>
