<article class="block group shadow-md bg-white relative">
  <button [cdkMenuPosition]="menuPositions" [cdkMenuTriggerFor]="productActions" class="absolute top-1 right-1 w-8 h-8 flex items-center justify-center hover:shadow-md active:!bg-slate-100 text-sm bg-transparent hover:!bg-white hover:!text-slate-900 border-none rounded-full">
    <span class="material-symbols-outlined">
      more_vert
    </span>
  </button>
  <img
    src="https://images.unsplash.com/photo-1592921870789-04563d55041c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
    alt="" class="h-[250px] w-full object-cover sm:h-[350px]" />

  <form [formGroup]="productForm" (ngSubmit)="formSubmit(productForm)">
    <div class="mt-1.5 p-4">
      <p class="text-xs text-gray-500">Space Grey</p>

      <div class="mt-1.5 flex gap-1">
        <fieldset>
          <legend class="sr-only">Color</legend>
        </fieldset>

        <!-- Color Options -->

        <ul cdkListbox
            formControlName="color"
            aria-labelledby="product-colors"
            cdkListboxOrientation="horizontal"
            class="flex flex-wrap justify-center gap-1 [&:hover_li]:opacity-75">
          <li cdkOption="space-gray" cdkOptionTypeaheadLabel="space gray" class="color-option color-option--sg"></li>
          <li cdkOption="silver" cdkOptionTypeaheadLabel="silver" class="color-option color-option--silver"></li>
          <li cdkOption="pink" cdkOptionTypeaheadLabel="pink" class="color-option color-option--pink"></li>
          <li cdkOption="green" cdkOptionTypeaheadLabel="green" class="color-option color-option--green"></li>
          <li cdkOption="blue" cdkOptionTypeaheadLabel="blue" class="color-option color-option--blue"></li>
        </ul>
        
        <!-- Color Options end -->
      </div>


      <div class="flex justify-between mt-3 text-sm items-center">
        <h3 class="text-gray-900">
          Small Headphones
        </h3>

        <p class="text-gray-900">$299</p>
      </div>
      <button [disabled]="productForm.invalid" type="submit" class="block w-full rounded bg-yellow-400 p-4 text-sm font-medium transition hover:scale-105 disabled:cursor-not-allowed disabled:hover:scale-100">
        Add to Cart
      </button>
    </div>
  </form>
</article>

<ng-template #productActions>
  <ul class="menu-popover__list" cdkMenu>
    <li cdkMenuItem class="menu-popover__list__item">
      Share
    </li>
    <li cdkMenuItem class="menu-popover__list__item" [cdkMenuTriggerFor]="productEditActions">
      Manage &#10148;
    </li>
    <li cdkMenuItem class="menu-popover__list__item">
      Preview
    </li>
  </ul>
</ng-template>

<ng-template #productEditActions>
  <ul class="menu-popover__list" cdkMenu>
    <li cdkMenuItem class="menu-popover__list__item">
      Duplicate
    </li>
    <li cdkMenuItem class="menu-popover__list__item">
      Edit
    </li>
    <li cdkMenuItem class="menu-popover__list__item">
      Delete
    </li>
  </ul>
</ng-template>