@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  @apply text-slate-900;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  @apply absolute top-0 left-0 right-0 bg-purple-700 flex items-center h-14 text-white font-bold px-4;
  &__title[routerLink] {
    cursor: pointer;
  }
  &__logo[routerLink] {
    cursor: pointer;
  }
  .route-links {
    padding: 8px 16px;
    display: flex;
    justify-content: flex-start;
    &__route-link {
      margin-right: 10px;
      padding: 6px 16px;
      transition: all ease 0.2s;
      cursor: pointer;
      &:hover:not(&--active) {
        color: #333;
      }
      &--active {
        color: white;
        background-color: #333;
      }
    }
  }
  a:nth-last-child(1) {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.toolbar img {
  margin: 0 16px;
}

.toolbar .notif-bell {
  margin: 0 20px 0 16px;
}

.content {
  display: flex;
  padding: 120px 0 32px 0;
  margin: 0 auto;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

@mixin inputEl {
  @apply appearance-none w-full text-sm bg-transparent text-slate-900 placeholder:text-slate-400 rounded-md py-1.5 px-2 ring-1 ring-purple-200 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 dark:text-white dark:placeholder-white;
}

input {
  &[type="text"], &[type="url"], &[type="number"] {
    @include inputEl();
  }
}

textarea {
  &.form-control {
    background-color: red;
    @include inputEl;
    @apply appearance-none w-full text-sm bg-transparent text-slate-900 placeholder:text-slate-400 rounded-md py-1.5 px-2 ring-1 ring-purple-200 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 ;
  }
}

button:not(.unset) {
  @apply rounded-md px-3 py-1.5 bg-white border-purple-500 border duration-200 cursor-pointer;
  &:hover:not(:disabled) {
    @apply bg-purple-700 text-white;
  }
  &:disabled {
    @apply bg-slate-200 border-transparent opacity-75;
  }
  &.btn-primary {
    @apply bg-purple-700 text-white hover:bg-purple-600;
  }
  &.btn-light {
    @apply bg-white text-purple-700 hover:bg-purple-700 hover:text-white;
  }
  &.btn-danger {
    @apply bg-red-700 text-white hover:bg-red-600;
  }
}
