<!-- Toolbar -->
<ng-cb-ui-header
  appTitle="Validating if a DOM element is visible on the view
  "
  appName="ng-cy-element-visibility"
  ><div class="spacer"></div
></ng-cb-ui-header>

<main class="content" role="main">
  <div
    class="flex px-4 sm:px-0 gap-10 w-full max-w-sm sm:max-w-md flex-col items-center"
  >
    <button data-test-id="toggleCounterBtn" (click)="toggleCounterVisibility()">
      Toggle Counter Visibility
    </button>
    <app-counter
      data-test-id="counterCard"
      *ngIf="visibility === visibilityOptions.Visible"
    ></app-counter>
  </div>
</main>
