<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    class="toolbar__logo"
    routerLink="/"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span routerLink="/" class="toolbar__title">Unit testing Angular Pipes</span>
  <div class="spacer"></div>
  <a
    href="https://www.codewithahsan.dev/ng-book-reader?chapter=ng-test-pipes"
    target="_blank"
    rel="noopener noreferer"
  >
    <span class="material-symbols-outlined"> info </span>
  </a>
</div>

<main class="content" role="main">
  <section class="flex gap-4 flex-col md:flex-row items-center">
    <div class="content__container__form form-group">
      <div class="mb-3">
        <label for="digitInput" class="form-label">Digit</label>
        <input
          [(ngModel)]="digitValue"
          type="number"
          class="form-control"
          id="digitInput"
          placeholder="Enter digit"
          min="1"
        />
        <div
          class="alert alert-danger"
          *ngIf="digitValue !== null && digitValue <= 0"
        >
          The minimum value required is 1
        </div>
      </div>
      <div class="mb-3">
        <label for="multiplicationFactor" class="form-label"
          >Max Multiplication Factor</label
        >
        <input
          [(ngModel)]="maxFactorValue"
          type="number"
          class="form-control"
          id="multiplicationFactor"
          placeholder="Enter max multiplication factor"
          min="1"
        />
        <div
          class="alert alert-danger"
          *ngIf="maxFactorValue !== null && maxFactorValue <= 0"
        >
          The minimum value required is 1
        </div>
      </div>
    </div>
    <app-multiplication-table
      class="block  max-h-96 overflow-auto p-4"
      [digit]="digitValue"
      [limit]="maxFactorValue"
    ></app-multiplication-table>
  </section>
</main>
