<!-- Toolbar -->
<ng-cb-ui-header appTitle="Unit testing Angular Pipes" appName="ng-test-pipes"
  ><div class="spacer"></div
></ng-cb-ui-header>

<main class="content" role="main">
  <section class="flex gap-4 flex-col md:flex-row items-center">
    <div class="content__container__form form-group">
      <div class="mb-3">
        <label for="digitInput" class="form-label">Digit</label>
        <input
          [(ngModel)]="digitValue"
          type="number"
          class="form-control"
          id="digitInput"
          placeholder="Enter digit"
          min="1"
        />
        <div
          class="alert alert-danger"
          *ngIf="digitValue !== null && digitValue <= 0"
        >
          The minimum value required is 1
        </div>
      </div>
      <div class="mb-3">
        <label for="multiplicationFactor" class="form-label"
          >Max Multiplication Factor</label
        >
        <input
          [(ngModel)]="maxFactorValue"
          type="number"
          class="form-control"
          id="multiplicationFactor"
          placeholder="Enter max multiplication factor"
          min="1"
        />
        <div
          class="alert alert-danger"
          *ngIf="maxFactorValue !== null && maxFactorValue <= 0"
        >
          The minimum value required is 1
        </div>
      </div>
    </div>
    <app-multiplication-table
      class="block max-h-96 overflow-auto p-4"
      [digit]="digitValue"
      [limit]="maxFactorValue"
    ></app-multiplication-table>
  </section>
</main>
