<!-- Toolbar -->
<ng-cb-ui-header
  appTitle="Angular's Async Pipe to unsubscribe streams automagically"
  appName="ng-async-pipe"
  ><div class="spacer"></div>
  <div class="route-links">
    <div
      class="route-links__route-link"
      routerLink="/home"
      routerLinkActive="route-links__route-link--active"
    >
      Home
    </div>
    <div
      class="route-links__route-link"
      routerLink="/about"
      routerLinkActive="route-links__route-link--active"
    >
      About
    </div>
  </div></ng-cb-ui-header
>

<main class="content" role="main">
  <router-outlet></router-outlet>
</main>
