<form [formGroup]="versionForm" #ngForm="ngForm" (ngSubmit)="formSubmit(versionForm)">
  <div class="form-group mb-4">
    <label for="versionNumber">Version Number</label>
    <input formControlName="version" name="version" type="text" class="form-control my-2 text-center" id="versionNumber" aria-describedby="versionHelp" placeholder="Enter version number">
    <small id="versionHelp" class="form-text text-muted block mt-6">Use semantic versioning (x.x.x)</small>
    <small class="error block" *ngIf="(ngForm.submitted || ngForm.dirty) && versionForm.controls.version.errors?.['required']">
      Version number is required
    </small>
    <small class="error block" *ngIf="(ngForm.submitted || ngForm.dirty) && versionForm.controls.version.errors?.['pattern']">
      Version number does not match the pattern (x.x.x)
    </small>
    <small class="error block" *ngIf="(ngForm.submitted || ngForm.dirty) && versionForm.controls.version.errors?.['oldVersion']">
      The version should be greater than the last version
    </small>
  </div>
  <button [disabled]="versionForm.invalid" type="submit" class="btn btn-primary">Submit</button>
</form>
<app-vc-logs [vName]="versionName"></app-vc-logs>
