<!-- Toolbar -->
<ng-cb-ui-header
  appTitle="Analyzing bundles with webpack-bundle-analyzer"
  appName="ng-perf-wba"
  ><div class="spacer"></div>
  <div class="route-links">
    <div
      class="route-links__route-link"
      routerLink="/admin"
      routerLinkActive="route-links__route-link--active"
    >
      Admin
    </div>
    <div
      class="route-links__route-link"
      routerLink="/employee"
      routerLinkActive="route-links__route-link--active"
    >
      Employee
    </div>
  </div>
  <div class="logout-btn mx-4">
    <button
      type="button"
      class="btn-light"
      *ngIf="isLoggedIn"
      (click)="logout()"
    >
      Logout
    </button>
  </div></ng-cb-ui-header
>

<main class="content" role="main">
  <router-outlet></router-outlet>
</main>
